/* style for the card */
.main-card {
  margin-bottom: 20px;
  height: 360px;
  width: 380px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-img-container {
  height: 178px;
  background-color: #C7BEBE;
  border: 5px solid #C7BEBE;
  border-radius: 5px 5px 0 0;
}

.recipe-container {
  padding: 20px;
  background-color: #E7E7E7;
  height: 182px;
  cursor: pointer;
}

.title-time-container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}

.title-time-container h3 {
  font-weight: 400;
  max-width: 70%;
}

.recipe {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
}

.recipe li{
  display: flex;
}
.recipe li p {
  font-weight: bold;
}
.quantity {
  font-weight: 400;
}

.ingredientList {
  flex: 1;
  line-height: 17px;
  max-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

}
.description {
  flex: 1;
  max-height: 90px;
}

.description p {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1480px) {
  .main-card {
    margin: 0px 20px 20px 20px;

  }
}